@import './variables';


#products {
    background-color: #e5e5e5;
    height: 50vh;
    padding: 60px 0 60px 0;
}

#productContainer {
    height: 600px;
    width: 900px;
    background-color: white;

}

#containerTitle {}