@import './variables';


#products {
    background-color: #e5e5e5;
    height: 50vh;
    padding: 60px 0 60px 0;
}

#productContainer {
    height: 400px;
    width: 700px;
    filter: drop-shadow(2px 2px 1px gray);
    background-color: white;
    margin: 60px auto;
}

#containerTitle {}