@import './variables';


#whoWeAre {
    padding: 60px 0 60px 0;

    #aboutus {
        width: 805px;
        margin: 30px auto;
        line-height: 30px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: #7D7D7D;
        font-size: 15px;
        text-align: justify;
    }

    .baseButton {
        margin: auto;
        margin-top: 40px;
    }

}