@import './variables';

#aboutus {
    width: 43%;
    margin: 30px auto;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #7D7D7D;
    font-size: 15px;
    text-align: justify;
}

#whoWeAre .baseButton {
    margin: auto;
    margin-top: 40px;
}