@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
#slider {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 400px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 650px;
  background: #ccc;
}

#slider ul li .sliderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 243px;
  width: 661px;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -40%);
          transform: translate(0, -40%);
  left: 25%;
  color: white;
}

#slider ul li .sliderContainer .sliderTitle {
  text-transform: uppercase;
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

#slider ul li .sliderContainer .sliderText {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

a.control_prev,
a.control_next {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover,
a.control_next:hover {
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

#rect {
  height: 62px;
  width: 20%;
  background-color: #BD2446;
}

.logo {
  margin: 0 14px 0 25px;
}

#rect2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #BD2446;
  height: 62px;
  width: 100%;
}

#nav_links {
  background-color: #BD2446;
  margin-left: 22%;
  margin-right: 22%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #BD2446;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  cursor: pointer;
}

.supButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 62px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.link:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BD2446), to(#6F1529));
  background-image: linear-gradient(#BD2446, #6F1529);
}

#contactButton {
  height: 100%;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BD2446), to(#6F1529));
  background-image: linear-gradient(#BD2446, #6F1529);
}

a {
  text-decoration: none;
}

.sectionTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #3D3D3D;
  font-size: 34px;
  text-align: center;
}

.baseButton {
  color: white;
  font-family: 'Montserrat', sans-serif;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BD2446), to(#6F1529));
  background-image: linear-gradient(#BD2446, #6F1529);
  width: 222px;
  height: 40px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#whoWeAre {
  padding: 60px 0 60px 0;
}

#aboutus {
  width: 42.25%;
  margin: 30px auto;
  line-height: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #7D7D7D;
  font-size: 15px;
  text-align: justify;
}

#whoWeAre .baseButton {
  margin: auto;
  margin-top: 40px;
}

#products {
  background-color: #e5e5e5;
  height: 50vh;
  padding: 60px 0 60px 0;
}

#productContainer {
  height: 400px;
  width: 700px;
  -webkit-filter: drop-shadow(2px 2px 1px gray);
          filter: drop-shadow(2px 2px 1px gray);
  background-color: white;
  margin: 10px auto;
}

#containerTable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 40px auto 20px;
  width: 680px;
  height: 40px;
}

.containerOption {
  color: #696969;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #d5d5d5;
  width: calc(680px / 3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.containerOption:hover {
  color: #BD2446;
  border-bottom: 2px solid #BD2446;
  cursor: pointer;
}

html {
  color: #2a2a2a;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}
/*# sourceMappingURL=style.css.map */