@import '../Base/variables';
@import '../Mixins/mixins';
@import '../Lib/include-media';

.about-us {
    padding: 60px 0 60px 0;

    &__text {
        width: 820px;
        margin: 30px auto;
        line-height: 30px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: #7D7D7D;
        font-size: 15px;
        text-align: justify;

        @include media("<=sm-desktop"){
            width: 60%;
        }

        @include media("<=tablet"){
            margin-top: 50px;
            width: 80%;
        }
    }

    &__button {
        @include button;
        margin: auto;
        margin-top: 40px;

        @include media("<=tablet"){
            margin-top: 50px;
        }
    }
}