@import '../Base/variables';
@import '../Lib/include-media';

.navbar {
    display: flex;
    margin-top: 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    z-index: 1;

    &__rect1 {
        height: 62px;
        width: 20%;
        background-color: $base-color;
        -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
        -moz-box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
        box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
        @include media("<=tablet") {
            height: 50px;
        }
    }

    &__logo {
        margin: 0 14px 0 25px;
        cursor: pointer;

        img {
            @include media("<=tablet") {
                width: 150px;
            }
        }
    }

    &__rect2 {
        display: flex;
        align-items: center;
        background-color: $base-color;
        height: 62px;
        width: 100%;

        -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
        -moz-box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
        box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
        @include media("<=tablet") {
            height: 50px;
        }
    }

    &__links {
        background-color: $base-color;
        margin-left: 15%;
        margin-right: 20%;
        align-items: center;
        width: 100%;
        display: flex;
        justify-content: space-between;
        list-style: none;
        flex-wrap: wrap;
        @include media("<=desktop") {
            margin-left: 5%;
            margin-right: 5%;
        }
        @include media("<=bg-tablet") {
            margin-left: 0;
            margin-right: 0;
        }
        @include media("<=bg-tablet") {
            display: none;
        }

        &__link {
            font-size: 13px;
            font-weight: 600;
            display: flex;
            height: 62px;
            width: 20%;
            padding: 0 1vw;
            border: none;
            justify-content: center;
            align-items: center;
            background-color: $base-color;
            cursor: pointer;
            text-decoration: none;
            color: white;
            font-family: 'Montserrat';
            &:hover {
                background-image: linear-gradient($base-color, $gradient);
            }
            @media screen and (min-width: 1000px) and (max-width: 1690px) {
                padding: 0 1vw;
            }
        }

        &__dropdown {
            position: relative;
            &:hover .navbar__links__dropdown__dropdown-content {
                display: block;
            }

            &__dropbtn {
                color: white;
                text-align: center;
                text-decoration: none;
            }

            &__dropdown-content {
                width: 100%;
                font-size: 15px;
                position: absolute;
                display: none;
                top: 100%;
                background-color: white;
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                z-index: 1;
                &:hover {
                    display: block;
                }

                a {
                    color: black;
                    padding: 20px 16px;
                    text-decoration: none;
                    display: block;
                    border-bottom: 1px lightgray solid;
                    /* to discuss */
                    text-align: left;
                }
                a:hover {
                    background-color: #f1f1f1;
                }
            }
        }
    }
}

.arrow-down {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 0 0 2px 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow-right {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 0 0 2px 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}