@import "../Lib/include-media";

.container {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
}

.container--narrow {
    max-width: 960px;
    
    @include media('>tablet', '<=sm-desktop'){
        margin: 0 60px;
    }

    @include media('<=tablet'){
        margin: 0 30px;
    }
}

.container:after,
.container:before{
    content: " ";
    display: table;
}
.container:after{
    clear: both;
}