@import './variables';
@import './Mixins/mixins';

.about-us {
    padding: 60px 0 60px 0;

    &__text {
        width: 43%;
        margin: 30px auto;
        line-height: 30px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: #7D7D7D;
        font-size: 15px;
        text-align: justify;
    }

    &__button {
        @include button;
        margin: auto;
        margin-top: 40px;
    }
}