@import './variables';
@import './Mixins/mixins';

.contact {
	padding: 60px 0 60px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__form {
		display: flex;
		flex-direction: column;
		font-family: 'Montserrat';

		&__text {
			font-weight: 400;
			font-size: 15px;
			text-align: center;
			margin: 40px auto 13px;
		}

		&__name {
			margin-top: 20px;
			font-weight: 400;
			font-size: 14px;
		}

		input {
			margin-top: 5px;
			width: 100%;
			font-size: 13px;
			font-weight: 400;
			height: 40px;
			width: 450px;
			border: 1px solid rgba(0, 0, 0, 0.4);
			box-sizing: border-box;
			border-radius: 10px;
			padding-left: 20px;
			padding-right: 20px;
			font-family: 'Montserrat';
			color: black;

			&:focus {
				border: 2px solid $base-color;
			}

		}

		*:focus {
			outline: none;
		}

		&__message {
			margin-top: 5px;
			width: 100%;
			font-size: 13px;
			height: 200px;
			width: 450px;
			border: 1px solid rgba(0, 0, 0, 0.4);
			box-sizing: border-box;
			border-radius: 10px;
			padding: 10px 20px 10px 20px;
			line-height: 20px;
			resize: vertical;
			font-family: 'Montserrat';

			&:focus {
				border: 2px solid $base-color;
			}
		}

		&__disclaimer {
			text-align: right;
			font-size: 12px;
			margin-top: 7px;
		}
	}

	&__button {
		@include button;
		background-color: $base-color;
		width: 100%;
		margin-top: 50px;
		align-self: center;
	}
}