@import './variables';
@import './Mixins/mixins';


.products {
    background-color: #e5e5e5;
    height: 50%;
    padding: 60px 0 60px 0;

    &__options {
        display: flex;
        flex-direction: row;
        margin: 40px auto 13px;
        width: 680px;
        height: 40px;

        &__unit {
            color: #696969;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 17px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 2px solid #d5d5d5;
            width: calc(680px / 3);
            transition: 0.3s;
            cursor: pointer;

        }

        &__unit.active {
            color: $base-color;
            border-bottom: 2px solid $base-color;
            cursor: pointer;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 330px;
        width: 770px;
        filter: drop-shadow(2px 2px 1px gray);
        background-color: white;
        margin: 5px auto;

        &__info {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        
        &__photo {
            width: 160px;
            height: 190px;
        }

        &__description {
            color: #696969;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            margin-left: 30px;
            width: 490px;
            height: 190px;
            text-align: justify;
        }
        
    }

    &__button {
        @include button;
        margin-top: 35px;
    }
}