@import './Mixins/mixins';
@import './variables';

.hero-slider {
    position: relative;
    
    &__slide{
        height: 650px;
        background-position: center;
    }
}

.slider__container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw; /* to change */
    white-space: normal;
    position: relative;
    top: 50%;
    transform: translate(0, -40%);
    left: 25%;
    color: white;

    &__title {
        text-transform: uppercase;
        font-size: 40px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    &__text {
        margin: 40px 0;
        font-size: 18px;
        font-weight: 500;
        line-height: 35px;
        font-family: 'Montserrat', sans-serif;
    }

    &__button { 
        @include button;
    }
}

.slick-dots {
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    top: 15px;
    @mixin atMedium {
        top: 50px;
    }
}


/* GlideJS */
.glide__bullets {
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    bottom: 15px;
    @mixin atMedium {
        top: 50px;
    }

    button {
        display: inline-block;
        text-indent: -9999px;
        border-radius: 0%;
        font-size: 0;
        line-height: 0;
        width: 8px;
        height: 8px;
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
        border: none;
        margin: 0 15px;
        padding: 0;
        outline: none;
        transition: background-color 0.3s ease-out;
        cursor: pointer;
        
    }

    button.glide__bullet--active {
        background-color: #fff;
        transform: scale(1.4);
    }
}

