@import "./Modules/slider";
@import "./Modules/navbar";
@import "./Base/variables";
@import "./Base/base";
@import "./Modules/aboutus";
@import "./Modules/products";
@import "./Modules/contact";
@import "./Modules/news";
@import "./Modules/footer";
@import "./Modules/back-to-top";
//@import "./Modules/page";
@import "./Modules/page-banner";
@import "./Modules/page-links";
@import "./Base/container";
@import "./Modules/page-section";
@import "./Modules/generic-content";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

/* glide.js */
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

/* fixes */
@import './Fix/fix';

html {
    color: #2a2a2a;
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}